In [1]:
import csv
import json
import pandas as pd
import numpy as np
df=pd.read_csv('sql.csv')
df.head()

  Jhon Jhon@xyz.com    123456789  123456789.1
0  Doe  Doe@abc.com  123456789.0  123456789.0
1  dd1  dd1@xyz.com  123456789.0  123456789.0
2  dd2  dd2@abc.com  123456789.0  123456789.0
3  dd3  dd3@xyz.com  123456789.0  123456789.0
4  dd4  dd4@abc.com  123456789.0  123456789.0

In [10]:
import pandas as  pd
class Pb:
    def __init__(self):
        self.records = []

    def read_from_csv(self, file_path):
        df = pd.read_csv(file_path)
        self.records = df.to_dict(orient='records')

class PbSQLParser:
    def __init__(self, phonerecords):
        self.phonerecords = phonerecords
    def execute_query(self, query):
        query_parts = query.split()
        operation = query_parts[0].lower()

        if operation == 'select':
            self._select(query_parts)
        elif operation == 'insert':
            self._insert(query_parts)
        elif operation == 'update':
            self._update(query_parts)
        elif operation == 'delete':
            self._delete(query_parts)
        else:
            print(f"Unsupported operation: {operation}")

    def _select(self, query_parts):
        if len(query_parts) < 4 or query_parts[1].lower() != '*':
            print("Invalid SELECT statement. Use 'SELECT * FROM sql'")
            return

        records_to_display = min(10, len(self.phonerecords.records))
        for i in range(records_to_display):
            record = self.phonerecords.records[i]
            print(f"Record {i + 1}: {record}")

sql = Pb()
sql.read_from_csv('sql.csv')  # Assuming 'sql.csv' is your CSV file
parser = PbSQLParser(sql)
parser.execute_query("SELECT * FROM sql")

Record 1: {'Jhon': 'Doe', 'Jhon@xyz.com': 'Doe@abc.com', '123456789': 123456789.0, '123456789.1': 123456789.0}
Record 2: {'Jhon': 'dd1', 'Jhon@xyz.com': 'dd1@xyz.com', '123456789': 123456789.0, '123456789.1': 123456789.0}
Record 3: {'Jhon': 'dd2', 'Jhon@xyz.com': 'dd2@abc.com', '123456789': 123456789.0, '123456789.1': 123456789.0}
Record 4: {'Jhon': 'dd3', 'Jhon@xyz.com': 'dd3@xyz.com', '123456789': 123456789.0, '123456789.1': 123456789.0}
Record 5: {'Jhon': 'dd4', 'Jhon@xyz.com': 'dd4@abc.com', '123456789': 123456789.0, '123456789.1': 123456789.0}
Record 6: {'Jhon': 'dd5', 'Jhon@xyz.com': 'dd5@xyz.com', '123456789': 123456789.0, '123456789.1': 123456789.0}
Record 7: {'Jhon': 'dd6', 'Jhon@xyz.com': 'dd6@abc.com', '123456789': 123456789.0, '123456789.1': 123456789.0}
Record 8: {'Jhon': 'dd7', 'Jhon@xyz.com': 'dd7@xyz.com', '123456789': 123456789.0, '123456789.1': 123456789.0}
Record 9: {'Jhon': 'dd10', 'Jhon@xyz.com': 'dd10@abc.com', '123456789': 123456789.0, '123456789.1': 123456789.0}
Record 10: {'Jhon': 'dd11', 'Jhon@xyz.com': 'dd11@xyz.com', '123456789': 123456789.0, '123456789.1': 123456789.0}

In [17]:
import pandas as pd

class Pb:
    def __init__(self):
        self.records = []

    def read_from_csv(self, file_path):
        df = pd.read_csv(file_path)
        self.records = df.to_dict(orient='records')

class PbSQLParser:
    def __init__(self, phonerecords):
        self.phonerecords = phonerecords

    def execute_query(self, query):
        query_parts = query.split()

        if query_parts[0].upper() == 'SELECT':
            return self._execute_select_query(query_parts)

    def _execute_select_query(self, query_parts):
        if 'FROM' in query_parts and query_parts[query_parts.index('FROM') + 1].lower() == 'sql':
            if '*' in query_parts:
                return self.phonerecords.records[:10]
            elif 'WHERE' in query_parts:
                condition_field = query_parts[query_parts.index('WHERE') + 1]
                condition_value = query_parts[query_parts.index('=') + 1].strip("';")
                return [record for record in self.phonerecords.records if record.get(condition_field) == condition_value]

sql = Pb()
sql.read_from_csv('sql.csv')  # Assuming 'sql.csv' is your CSV file
parser = PbSQLParser(sql)
result = parser.execute_query("SELECT * FROM sql WHERE name='Doe'")
print(result)

[{'Jhon': 'Doe', 'Jhon@xyz.com': 'Doe@abc.com', '123456789': 123456789.0, '123456789.1': 123456789.0}, {'Jhon': 'dd1', 'Jhon@xyz.com': 'dd1@xyz.com', '123456789': 123456789.0, '123456789.1': 123456789.0}, {'Jhon': 'dd2', 'Jhon@xyz.com': 'dd2@abc.com', '123456789': 123456789.0, '123456789.1': 123456789.0}, {'Jhon': 'dd3', 'Jhon@xyz.com': 'dd3@xyz.com', '123456789': 123456789.0, '123456789.1': 123456789.0}, {'Jhon': 'dd4', 'Jhon@xyz.com': 'dd4@abc.com', '123456789': 123456789.0, '123456789.1': 123456789.0}, {'Jhon': 'dd5', 'Jhon@xyz.com': 'dd5@xyz.com', '123456789': 123456789.0, '123456789.1': 123456789.0}, {'Jhon': 'dd6', 'Jhon@xyz.com': 'dd6@abc.com', '123456789': 123456789.0, '123456789.1': 123456789.0}, {'Jhon': 'dd7', 'Jhon@xyz.com': 'dd7@xyz.com', '123456789': 123456789.0, '123456789.1': 123456789.0}, {'Jhon': 'dd10', 'Jhon@xyz.com': 'dd10@abc.com', '123456789': 123456789.0, '123456789.1': 123456789.0}, {'Jhon': 'dd11', 'Jhon@xyz.com': 'dd11@xyz.com', '123456789': 123456789.0, '123456789.1': 123456789.0}]

In [26]:
class PbSQLParser:
    def __init__(self, phonerecords):
        self.phonerecords = phonerecords

    def execute_query(self, query):
        query_parts = query.split()

        if query_parts[0].upper() == 'SELECT':
            return self._execute_select_query(query_parts)

    def _execute_select_query(self, query_parts):
        if 'FROM' in query_parts and query_parts[query_parts.index('FROM') + 1].lower() == 'sql':
            if '*' in query_parts:
                return self.phonerecords.records[:10]
            elif 'WHERE' in query_parts:
                condition_field = query_parts[query_parts.index('WHERE') + 1]
                condition_value = query_parts[query_parts.index('=') + 1].strip("';")
                return [record for record in self.phonerecords.records if record.get(condition_field) == condition_value]

    def _insert(self, query_parts):
        if len(query_parts) != 8 or query_parts[2].lower() != 'into' or query_parts[4].lower() != 'values':
            print("Invalid INSERT statement. Use 'INSERT INTO phone_records(name, email, phone1, phone2) VALUES('Test', 'test@test.xtyz', '1234456', '1233233')")
            return

        values_start_index = query_parts.index('VALUES') + 1
        values = query_parts[values_start_index:]

        new_record = {
            'name': values[0].strip("',"),
            'email': values[1].strip("',"),
            'phone1': values[2].strip("',"),
            'phone2': values[3].strip("',")
        }

        self.phonerecords.records.append(new_record)
        print("Record inserted successfully.")

sql = Pb()
sql.read_from_csv('sql.csv')  # Assuming 'sql.csv' is your CSV file
parser = PbSQLParser(sql)

# Insert a new record
parser.execute_query("INSERT INTO sql(name, email, phone1, phone2) VALUES('Test', 'test@test.xtyz', '1234456', '1233233')")

# Display the records after the insertion
parser.execute_query("SELECT * FROM sql")

[{'Jhon': 'Doe',
  'Jhon@xyz.com': 'Doe@abc.com',
  '123456789': 123456789.0,
  '123456789.1': 123456789.0},
 {'Jhon': 'dd1',
  'Jhon@xyz.com': 'dd1@xyz.com',
  '123456789': 123456789.0,
  '123456789.1': 123456789.0},
 {'Jhon': 'dd2',
  'Jhon@xyz.com': 'dd2@abc.com',
  '123456789': 123456789.0,
  '123456789.1': 123456789.0},
 {'Jhon': 'dd3',
  'Jhon@xyz.com': 'dd3@xyz.com',
  '123456789': 123456789.0,
  '123456789.1': 123456789.0},
 {'Jhon': 'dd4',
  'Jhon@xyz.com': 'dd4@abc.com',
  '123456789': 123456789.0,
  '123456789.1': 123456789.0},
 {'Jhon': 'dd5',
  'Jhon@xyz.com': 'dd5@xyz.com',
  '123456789': 123456789.0,
  '123456789.1': 123456789.0},
 {'Jhon': 'dd6',
  'Jhon@xyz.com': 'dd6@abc.com',
  '123456789': 123456789.0,
  '123456789.1': 123456789.0},
 {'Jhon': 'dd7',
  'Jhon@xyz.com': 'dd7@xyz.com',
  '123456789': 123456789.0,
  '123456789.1': 123456789.0},
 {'Jhon': 'dd10',
  'Jhon@xyz.com': 'dd10@abc.com',
  '123456789': 123456789.0,
  '123456789.1': 123456789.0},
 {'Jhon': 'dd11',
  'Jhon@xyz.com': 'dd11@xyz.com',
  '123456789': 123456789.0,
  '123456789.1': 123456789.0}]

In [34]:
class PbSQLParser:
    def __init__(self, phonerecords):
        self.phonerecords = phonerecords

    def execute_query(self, query):
        query_parts = query.split()

        if query_parts[0].upper() == 'SELECT':
            return self._execute_select_query(query_parts)

    def _execute_select_query(self, query_parts):
        if 'FROM' in query_parts and query_parts[query_parts.index('FROM') + 1].lower() == 'sql':
            if '*' in query_parts:
                return self.phonerecords.records[:10]
            elif 'WHERE' in query_parts:
                condition_field = query_parts[query_parts.index('WHERE') + 1]
                condition_value = query_parts[query_parts.index('=') + 1].strip("';")
                return [record for record in self.phonerecords.records if record.get(condition_field) == condition_value]

    def _insert(self, query_parts):
        if len(query_parts) != 8 or query_parts[2].lower() != 'into' or query_parts[4].lower() != 'values':
            print("Invalid INSERT statement. Use 'INSERT INTO phone_records(name, email, phone1, phone2) VALUES('Test', 'test@test.xtyz', '1234456', '1233233')")
            return

        values_start_index = query_parts.index('VALUES') + 1
        values = query_parts[values_start_index:]

        new_record = {
            'name': values[0].strip("',"),
            'email': values[1].strip("',"),
            'phone1': values[2].strip("',"),
            'phone2': values[3].strip("',")
        }
        self.phonerecords.records.append(new_record)
        print("Record inserted successfully.")
def _delete(self, query_parts):
        if len(query_parts) < 7 or query_parts[1].lower() != 'from' or query_parts[2].lower() != 'sql' or query_parts[3].lower() != 'where':
            print("Invalid DELETE statement. Use 'DELETE FROM sql WHERE name='John'")
            return

        filter_column = query_parts[4]
        filter_value = query_parts[5].strip("';")
        self.phonerecords = [record for record in self.phonerecords if record.get(filter_column.lower()) != filter_value.lower()]
        print(f"Records where {filter_column} is '{filter_value}' deleted successfully.")

sql = Pb()
sql.read_from_csv('sql.csv')  # Assuming 'sql.csv' is your CSV file
parser = PbSQLParser(sql)

# Delete records where name is 'John'
parser.execute_query("DELETE FROM sql WHERE name='John'")

# Display the records after deletion
parser.execute_query("SELECT * FROM sql")

[{'Jhon': 'Doe',
  'Jhon@xyz.com': 'Doe@abc.com',
  '123456789': 123456789.0,
  '123456789.1': 123456789.0},
 {'Jhon': 'dd1',
  'Jhon@xyz.com': 'dd1@xyz.com',
  '123456789': 123456789.0,
  '123456789.1': 123456789.0},
 {'Jhon': 'dd2',
  'Jhon@xyz.com': 'dd2@abc.com',
  '123456789': 123456789.0,
  '123456789.1': 123456789.0},
 {'Jhon': 'dd3',
  'Jhon@xyz.com': 'dd3@xyz.com',
  '123456789': 123456789.0,
  '123456789.1': 123456789.0},
 {'Jhon': 'dd4',
  'Jhon@xyz.com': 'dd4@abc.com',
  '123456789': 123456789.0,
  '123456789.1': 123456789.0},
 {'Jhon': 'dd5',
  'Jhon@xyz.com': 'dd5@xyz.com',
  '123456789': 123456789.0,
  '123456789.1': 123456789.0},
 {'Jhon': 'dd6',
  'Jhon@xyz.com': 'dd6@abc.com',
  '123456789': 123456789.0,
  '123456789.1': 123456789.0},
 {'Jhon': 'dd7',
  'Jhon@xyz.com': 'dd7@xyz.com',
  '123456789': 123456789.0,
  '123456789.1': 123456789.0},
 {'Jhon': 'dd10',
  'Jhon@xyz.com': 'dd10@abc.com',
  '123456789': 123456789.0,
  '123456789.1': 123456789.0},
 {'Jhon': 'dd11',
  'Jhon@xyz.com': 'dd11@xyz.com',
  '123456789': 123456789.0,
  '123456789.1': 123456789.0}]